<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKl_7TNX0dD18imWW-z5ctp8M0oKzWaNY</string>
	<key>GCM_SENDER_ID</key>
	<string>532580117512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-30f58</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-30f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532580117512:ios:1d36ffbf9e7f2d5573b5bd</string>
</dict>
</plist>